/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

/******************************* MAIN CSS */

/* main css */
body {
	max-width: 1440px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

section {
	margin: 50px auto;
	max-width: 950px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

*:focus {
	box-shadow: 0 0 50px lightgrey;
}

/******************************* HEADER SECTION */

header {
	max-width: 1140px;
	display: flex;
	justify-content: space-between;
	margin: 50px auto 0 auto;
}

nav a:link,
nav a:visited {
	text-decoration: none;
	color: black;
}

nav ul {
	display: flex;
	list-style-type: none;

}
nav li {
	padding: 0 22px;
	font-size: 16px;
	line-height: 22px;
}

nav ul li img {
	width: 22px;
	height: 22px;
}

li:hover {
	font-weight: 700;
	cursor: pointer;
}

span {
	font-size: 14px;

}

/******************************* FOOTER SECTION */

footer {
	display: flex;
	align-items: center;
	justify-content:right;
	width: 1440px;
	height: 60px;
	background-color: white;
	width:100%;
}
footer nav {
	margin-right: 107px;
}

footer nav ul li {
	font-size: 14px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
}

footer nav ul li {
	font-weight: 300;
	padding: 0;
}
/******************************* INTRODUCTION SECTION */

#introduction {
	display: flex;
	align-items: center;
	padding: 90px 95px;
}
#introduction figure {
	flex: 1;
	background-image:url("./images/sophie-bluel.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 355px;
}
#introduction img {
	display: block;
	margin-right: 47px;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
	padding-left: 72px;
}

#introduction p {
	margin-bottom: 0.5em;
	padding-left: 72px;
	color: #3D3D3D;
}

/******************************* PORTFOLIO SECTION */

#portfolio {
	padding: 0 95px;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	
}

#portfolio .title {
	display: flex;
	gap: 30px;
	align-items: baseline;
	justify-content: center;
}

#portfolio .enableModify {
	display: flex;
	align-items: center;
	gap:10px;
	color: black;
}

#portfolio .enableModify:hover {
	cursor: pointer;
}

#portfolio .enableModifyIcon {
	color: black;
}
#portfolio .gallery figure img {
	min-height: 404px;
}

/******************************* FILTERS SECTION */


.filters {
	display: flex;
	justify-content: center;
	padding: 30px 0 50px 0;;
}

.filters button {
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	color: #1D6154;
	background-color: transparent;
	border: 2px solid #1D6154;
	border-radius: 60px ;
	padding: 10px 15px;
	margin: 0 5px;
	cursor: pointer;
	min-width: 100px;
	transition: background-color .7s ease, color .7s ease;
	cursor: pointer;
}

.filters button.selected {
	color: white ;
	background-color: #1D6154 ;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
/******************************* GALLERY SECTION */
.gallery figure figcaption {
	color: #3D3D3D;
}

/******************************* CONTACT SECTION */
#contact {
	width: 50%;
	max-width: 380px;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 10px;
}
#contact p {
	font-size: 16px;
	color: #3D3D3D;
}
#contact form {
	text-align: left;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 40px 0 7px 0;
	color: #3D3D3D;
	font-weight: 500;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
}

#contact input[type="submit"]{
	height: 36px;
	font-size: 14px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 40px auto 45px auto;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}


/******************************* LOGIN SECTION */
.login-form {
	display: flex;
	flex-direction: column;
	align-items:center;
	min-height: calc(100vh - 142px);
}

.login-form form {
	display: flex;
	flex-direction: column;
	padding: 37px 0 30px 0;
}

.login-form form label {
	margin-bottom: 7px;
	font-weight: 500;
	font-size: 14px;
}

.login-form form input {
	border: none;
	height: 50px;
	width: 380px;
	box-shadow: 0px 4px 14px 0px #00000017;
	margin-bottom: 30px;
	padding: 0 10px;
}

.login-form form button {
	height: 36px;
	width: 180px;
	font-weight: 700;
	font-size: 14px;
	margin: auto;
	border-radius: 60px;
	border: none;
	background: #1D6154;
	color: white;
	font-family: 'Syne';
}

.login-form a {
	color: #3D3D3D;
}

.login-form .errorMessage
{
	color: red;
}

/******************************* MODAL SECTION */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	align-items: center;
	justify-content: center;
}

.modal-wrapper {
	height: 690px;
	width: 630px;
	background:white;
	border-radius: 10px;
	position: relative;
}

.modal-wrapper #addPhotos {
	margin-top: 60px;
	margin-bottom: 46px;
	font-size: 26px;
	color: black;
	font-weight: 400;
	font-family: 'Work Sans';
}
.modal-wrapper .galleryModal {
	display: flex;
	flex-wrap:wrap;
	gap:10px;
	height: 405px;
	overflow: auto;
	padding: 0 105px 48px 105px;
	border-bottom: 1px solid #B3B3B3;
}

.modal-wrapper figure {
	position: relative;
}

.modal-wrapper .galleryModal .workPicture {
	width: 76px;
	height: 103px;
	margin-bottom: 19px;
}

.modal-wrapper .galleryModal .deleteIcon {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 17px;
	height: 17px;
	z-index: 1;
	cursor: pointer
}

.modal-wrapper .addBtnZone {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-wrapper .addBtnZone .btnAddPhoto
{
	width: 237px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-decoration: none;
	border-radius: 60px;
	background-color: #1D6154;
	color: white;
	font-weight: 700;
	margin-bottom: 45px;
	margin-top: 38px;
	border: none;
	cursor: pointer;
}

.modal-wrapper .addBtnZone .btnValidateWork
 {
	width: 237px;
	height: 36px;
	border-radius: 60px;
	background-color: #A7A7A7;
	color: white;
	font-weight: 700;
	margin-bottom: 45px;
	margin-top: 38px;
	border: none;
 }

.modal-wrapper .addBtnZone .btnValidateWork.enableValidate {
	background: #1D6154;
	cursor: pointer;
}
.modal-wrapper .closeCross {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 26px;
	right: 30px;
	z-index: 1;
	cursor: pointer;
}

.modal-wrapper .stripe-wrapper {
	position: absolute;
	left:0;
	display:flex;
}

.modal-wrapper  .left-wrapper,
.modal-wrapper  .right-wrapper {
	width: 630px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.7s ease, visibility 0.7s ease;
}

.modal-wrapper .left-wrapper.visible,
.modal-wrapper .right-wrapper.visible
 {
	opacity: 1;
	visibility: visible;
}

.modal-wrapper .right-wrapper .toLeftArrow {
	width: 21px;
	height: 18px;
	position: absolute;
	top: 26px;
	left: 30px;
	cursor: pointer;
}

.modal-wrapper .right-wrapper .toLeftArrow:focus {
	outline: 1px solid black;
	outline-offset: 4px;
}

.modal-wrapper .pictureZone {
	border-radius: 3px;
	background: #E8F1F6;
	width: 420px;
	height: 170px;
	margin: auto;
	background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

.modal-wrapper .choosePicture {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 7px;
}

.modal-wrapper .pictureZone .choosePicture .default-picture {
	height: 76px;
	width: 76px;
}

.modal-wrapper .pictureZone .choosePicture .choosePictureLabel {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	width: 173px;
	border-radius: 50px;
	background-color: #CBD6DC;
	color: #306685;
	border: none;
	font-size: 14px;
	font-weight: 500;
}

.modal-wrapper .pictureZone .choosePicture:focus-within .choosePictureLabel {
  	outline: 2px solid black;
  	outline-offset: 4px;
  	border-radius: 4px; 
}

.modal-wrapper .pictureZone #fileInput {
	opacity: 0;
	height: 0;
}

.modal-wrapper .pictureZone .choosePicture .imgTypes {
	font-size: 10px;
	font-weight: 400;
}

.modal-wrapper .textualInputs {
	padding: 0 105px;
	margin-top: 30px;
}

.modal-wrapper .textualInputs label {
	display: block;
	margin-bottom: 10px;
	margin-top: 20px;
	color: #3D3D3D;
}

.modal-wrapper  input[name="title"],
.modal-wrapper  select
{
	width: 100%;
	height: 50px;
	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;
	display: block;
	margin: auto;
	padding-left: 16px;
	background: white;
	box-sizing: border-box;
}

.right-wrapper .errorMessage {
	text-align: center;
	color: red;
}

